.body-still {
    font-family: "Roboto",sans-serif;
    background-color:#FFFFFF;
}

body li {
    list-style-type: none; 
        }


   .page-logo{ 
    
        font-family: "Raleway", sans-serif;
         font-weight:700;
         font-size:18px;
         line-height: 1.17;
         text-transform:uppercase;
         text-decoration: none;
         letter-spacing: 3%;
         color:#4d5ae5;
         
    }  
    
   .page-logo-color{
        color:#2e2f42;
   }


   .page-menu-list a {
    text-decoration: none;
    color: #422e30;
    font-weight: 500;
    font-size: 16PX;
    line-height:1.5;
    letter-spacing: 2%;
    }

.page-menu-list { 
list-style-type: none;
}

 

.list-name{
font-weight:500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;
color: #2e2f42;

}

.list-name:hover{

color:#404bbf;
}

.list-name:focus{

color:#40bbcf;
}

.email-fone a { 

    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -2%;
    color: #434455;
    font-style:normal;
    
}       

.email-fone li{
list-style-type: none; 
 }

.email-fone a{
text-decoration: none;  
}


.hero-image {
    
    width: 1440px;
    height: 600px;
    background-color: #2e2f42;
    text-align: center;   
}

.hero-title {

    width: 796px;
    height: 120px;
    top:260px;
    left: 427px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 2%;
    color: #ffffff; 
    text-align: center;

}

.hero-button  {

    width: 105px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 4%;
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    text-align:center;
}


      
     
.button-input:hover  {

   background-color: #404BBF;
 }


.hero-button:focus {

    background-color: #404BBF;
}


.advantages-list  {
   
    width: 1128px; 
    height: 104;
    background-color: #ffffff;
   
}
.advantages-name {
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color:#244455; 
    

}

.advantages-text {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color:#434445; 

}


